* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.barra-superior {
    background-color: #0b3dad;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: "Neuton", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1rem;
  }
  
  .barra-superior span {
    font-weight: bold;
    margin-left: 1140px;
  }
  
  .social-icons img {
    width: 23px;
    margin-left: 5px;
  }
  
/* Barra de Navegación */
.barra-navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #89abea;
  padding: 10px 20px;
}

/* Alineación del Menú Horizontal */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px; /* Tamaño reducido del logo */
  margin-right: 10px;
  filter: drop-shadow(0 2px 5px #33333384);
}

.topheader h1 {
  font-size: 25px; /* Tamaño más pequeño para el texto del logo */
  color: rgb(0, 0, 0);
  margin: 0;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  margin-left: -50px;
  padding-left: -20px;
}

/*HEADER*/
.topheader {
  width: 100%;
  z-index: 100;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #89abea;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1200px;
}

.menu-vertical li {
  margin: 0; /* Eliminar margen entre los elementos */
}

.menu-horizontal li a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  justify-content: inline-block;
  border: 2px solid #000000;
  border-radius: 5px;
  font-family: "Neuton", serif;
  font-weight: 700;
  font-size: 1.2rem;
  font-style: normal;
}

.menu-horizontal li a:hover {
  color: black;
  background-color: white;
}

.menu-vertical {
  padding: 0;
  position: absolute;
  display: none;
  list-style: none;
  margin: 0;
  width: 150px; /* Ajustar el ancho según sea necesario */
  background-color: #89abea;
  z-index: 500;
}

.menu-horizontal li:hover .menu-vertical {
  display: block;
}

.menu-vertical li:hover {
  color: black;
  background-color: white;
}

.menu-vertical li a {
  display: block;
  padding: 10px 15px; /* Ajustar el padding según sea necesario */
  color: white;
  text-decoration: none;
  border: 2px solid #000000;
  border-radius: 5px;
}

.menu-vertical li a:hover {
  color: black;
  background-color: white;
}

.menu-horizontal li {
  margin-left: 20px; /* Ajustar el espacio entre los botones principales */
}

.btn-explora, .btn-contacto, .btn-home {
  -webkit-text-stroke: 0.5px black;
  }

.btn-login {
  background-color: #0b3dad;
  text-decoration: none;
}
.btn-login:hover {
  background-color: #ffffff;
  color: #000000;
}

  body {
    font-family: "Literata", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f4f1f1;
    margin: 0;
    padding: 30px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .section {
    width: 48.5%;
    text-align: justify;
    font-size: 1.5rem;
  }
  
  .section h2 {
    color: #0866ff;
    font-size: 2.8rem;
    margin-bottom: 20px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  .section p{
    font-size: 1.2rem;
  }
  
  .faq-list {
    list-style: none;
    padding: 0;
  }
  
  .faq-list li {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-family: "Literata", serif;
    font-weight: 400;
    font-style: normal;
    display: inline-flex;
    align-items: center; /* Alinea el texto y el triángulo verticalmente */
    margin-left: 35px;
  }
  
  .faq-list li:after {
    content: "▶";
    color: #0b3dad;
    margin-left: 5px; /* Ajusta este valor para reducir o aumentar el espacio */
  }
  
  .faq-list li:hover {
    font-weight: bold;
    color: #0b3dad;
    text-decoration-line: #0b3dad;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .footer {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    font-family: "Neuton", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .input-container {
    background-color: #0B3DAD;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
  }
  
  .input-container input {
    width: 100%;
    padding right: 5px;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    background-color: #0B3DAD;
  }
  .input-container input::placeholder {
    color: #fff; /* Color del placeholder en blanco */
  }
  
  /* Pie de pagina */
  .footer-section {
    background-color: #d9d9d9;
    color: #000000;
    padding: 40px 60px;
    width: 100vw; /* Asegura que ocupe el ancho completo de la pantalla */
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px; /* Ancho máximo para centrar el contenido */
    margin: 0 auto; /* Centra el contenido dentro del pie de página */
  }
  
  .footer-column {
    width: 20%;
  }
  
  .footer-column h3 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: left; /* Alinea los títulos de cada columna */
    margin-top: 8px;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
    text-align: left; /* Alinea los subtítulos con los títulos */
  }
  
  .footer-column ul li a {
    text-decoration: none;
    color: #000000;
  }
  
  .footer-column li {
    font-family: "Literata", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
  }
  
  .footer-column li:hover {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: black;
  }
  
  .email-input {
    padding: 10px; /* Espaciado interno */
    width: 80%; /* Ancho del campo de entrada */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde gris claro */
    font-size: 16px; /* Tamaño de fuente */
    margin-bottom: 10px; /* Espacio inferior entre el campo y el botón */
    background-color: #ffffff;
  }
  
/* Diseño Responsive */
/* Ocultar los botones por defecto en pantallas grandes */
.open-menu,
.close-menu {
  display: none;
}
@media (max-width: 768px) {
  /* MENÚ */
  .menu-horizontal {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: #0b3dad;
    height: 100%;
    overflow-y: auto;
    pointer-events: none;
    transform: translateY(-100%);
    transition: opacity 0.3s, transform 0.3s;
    z-index: 999;
    padding: 20px 0;
  }

  .menu-horizontal.menu_opened {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }

  .open-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 1000;
    margin-right: 30px;
    position: absolute;
    right: 10px;
    top: 20px;
  }

  .close-menu {
    display: none;
    align-self: flex-end;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    right: 10px;
    top: 20px;
  }

  .menu-horizontal.menu_opened ~ .close-menu {
    display: block;
  }
  .menu-horizontal.menu_opened ~ .open-menu {
    display: none;
  }

  .menu-horizontal li {
    padding: 0;
  }

  .menu-horizontal a {
    color: black;
    line-height: 40px;
    font-size: 22px;
    padding: 5px 0;
  }

  .menu-horizontal a:hover,
  .menu-horizontal a.selected {
    color: #0b3dad;
    text-decoration: underline;
  }

  .menu-horizontal a:focus {
    outline: 2px dashed #4b7cdb;
    outline-offset: 4px;
  }

  .menu-horizontal a::after {
    content: none;
  }

  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none;
  }

  .topheader h1 {
    font-size: 18px;
  }
  
  .container {
    flex-direction: column; /* Cambia de fila a columna */
    align-items: center; /* Centra los elementos */
    padding: 0; /* Elimina el padding del contenedor */
  }
  
  .section {
    width: 100%; /* Ocupa todo el ancho disponible */
    text-align: left; /* Alineación a la izquierda para mejor lectura */
    margin-bottom: 10px; /* Reduce el espacio inferior entre secciones */
    padding: 5px; /* Reduce el padding interno */
  }
  
  .section h2 {
    font-size: 1.8rem; /* Tamaño de fuente reducido para los títulos */
    text-align: center;
    margin-bottom: 0.5px; /* Reduce el espacio inferior del título */
    margin-top: 2px;
  }
  
  .section p {
    font-size: 1rem; /* Tamaño de fuente más pequeño */
    text-align: justify;
    padding-bottom: 0.5px; /* Reduce el espacio inferior del párrafo */
    margin: 25px; /* Elimina el margen del párrafo */
  }
}

  /* SECCIÓN DE PREGUNTAS FRECUENTES Y SOPORTE */
  @media (max-width: 768px) {
    .faq-support-container {
      padding: 10px;
    }
  
    .faq-section h2, .support-section h2 {
      font-size: 24px;
    }
  
    .faq-section li, .support-section p {
      font-size: 16px;
    }
  
    .support-section .availability {
      font-size: 18px;
    }
  
    .question-input {
      font-size: 16px;
      padding: 8px;
    }

    /* BOTÓN DE ESCRIBIR DUDA */
.question-input {
  width: 100%;
  font-size: 1rem; /* Tamaño de fuente ajustado */
  padding: 40px; /* Reduce el padding del botón */
  margin-top: 10px; /* Reduce el espacio superior del botón */
  border-radius: 5px;
  border: 1px solid #0b3dad;
  background-color: #0b3dad;
  color: white;
  text-align: center;
}

  /* FOOTER */
  .footer-section .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-bottom p {
    font-size: 2.5rem;
  }

  .footer-column h3 {
    text-align: center;
    font-size: 1.1rem;
  }

  .footer-column ul {
    text-align: center;
  }

  .footer-column ul li {
    margin-bottom: 10px;
    text-align: center;
  }

  .footer-column img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }


.footer-column .email-input {
  display: block;
  margin: 0 auto;
  width: 80%;
}
  }
